@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model Moon.Models.MCRN



<div class="container">
    <br />
    <br />
    <a class="btn btn-success" data-toggle="modal" data-target="#MCRNRecordModal"><i class="glyphicon glyphicon-plus"></i>Add</a>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Office</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
        </thead>
    </table>
</div>

@section scripts{
    <!--documentREadyAJazGet-->
    <script>
        

    $(document).ready(function() {
        $("#example").DataTable({
            "ajax": {
                "type": "GET",
                "url":"@Url.Action("GetData","Home")",
                "datatype":"JSON",
            },
            "columns": [
                { "data": "id" },
                { "data": "Name" },
                { "data": "Email" },
                {"data": "Pin"}


            ],
            "language": {
                "processing": "loading",
                "emptatable":"empty table"
            }
        })
    } );
    </script>
    <!--AddRecord-->
    <script>
        function addRecord() {
            alert("hello from record");
        }
    </script>
   
    <!--btnSubmit()-->
    <script>
                function btnSubmit() {
        var data = $("#MCRNRecordForm").serialize();
        $.ajax({
            type: "POST",
            url: "@Url.Action("PostData","Home",FormMethod.Post)",
            data: data,
            success: function (response) {
                if (response != null) {
                    alert("sucess");
                    window.location.reload();
                    $("#MCRNRecordForm").modal('hide');
                }

            },
            error: function (msg) {
                alert(msg.responseText);
            }




        });
        }
    </script>
}


    <!-- Modal -->
    <div class="modal fade" id="MCRNRecordModal" role="document">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="panel-heading">

                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="glyphicon glyphicon-dashboard"></i> Add A Record</h4>
                    </div>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("postData", "Home", FormMethod.Post, new { @id = "MCRNRecordForm" }))
                    {


                        <div class="form-group">
                            <div class="input-group">
                                <span><i class="glyphicon glyphicon-user"></i></span>
                                @Html.TextBoxFor(m => m.Name, new { placeholder = "Name", @class = "form-input" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span><i class="glyphicon glyphicon-envelope"></i></span>
                                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-input" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <span><i class="glyphicon glyphicon-lock"></i></span>
                                @Html.DisplayFor(m => m.Pin, new { @class = "from-input" })
                                @Html.TextBoxFor(m => m.Pin, new { placeholder = "####", @class = "form-input" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button  type="button" class="btn btn-success btn-lg" onclick="btnSubmit()"><i class="glyphicon glyphicon-save"></i>Save</button>
                        </div>

                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

